:root {
    --small-game-grid-col: 4;
    --small-game-grid-row: 4;
    --med-game-grid-col: 8;
    --med-game-grid-row: 8;
    --large-game-grid-col: 12;
    --large-game-grid-row: 12;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
    /* background-color: rgba(27, 238, 245, 0.2); */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {

    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(42, 181, 175);
    background: radial-gradient(circle, rgba(42, 181, 175, 1) 0%, rgba(0, 139, 139, 1) 100%);
    /* background-image: url(/assets/img/bg/xmas-bg.png);
    background-size: cover; */
}

button {
    padding: 15px 20px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
}

#welcome {
    position: absolute;
    background-color: rgb(104, 29, 29);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    transition: left 0.4s ease-out;
}

.open {
    left: 0px;
    top: 0px;
}

.hidden {
    left: -300vw;
}

.settings {
    display: flex;
    width: 40%;
    justify-content: center;
    gap: 10%;
}

#game-grid {
    width: 800px;
    height: 800px;
    min-width: 350px;
    min-height: 350px;
    display: grid;
    background-color: rgba(255,255,255,0.8);
}

/* 16 total divs to create */
.small-grid {
    grid-template-columns: repeat(auto-fit, calc(100% / var(--small-game-grid-col)));
    grid-template-rows: repeat(auto-fit, calc(100% / var(--small-game-grid-row)));
}

/* 64 total divs to create */
.med-grid {
    grid-template-columns: repeat(auto-fit, calc(100% / var(--med-game-grid-col)));
    grid-template-rows: repeat(auto-fit, calc(100% / var(--med-game-grid-row)));
}

/* 144 total divs to create */
.large-grid {
    grid-template-columns: repeat(auto-fit, calc(100% / var(--large-game-grid-col)));
    grid-template-rows: repeat(auto-fit, calc(100% / var(--large-game-grid-row)));
}

.grid-item {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    cursor: pointer;
    background-size: contain;
}

/* GEMS - note that the theme changes the actual image used */

.red {
    background-image: url(/assets/img/xmas/gem-santa.gif);
}
.green {
    background-image: url(/assets/img/xmas/gem-tree.gif);
}
.blue {
    background-image: url(/assets/img/xmas/gem-snowman.gif);
}
.yellow {
    background-image: url(/assets/img/xmas/gem-box.gif);
}

.selected {
    border: 4px dashed red;
    border-radius: 15px;
}